<!--The content below is only a placeholder and can be replaced.-->
<div>
  Welcome to {{ title }}! in Dockerz
</div>
<ng-container *ngIf="(currentUser | async ) as user; else login">
  <p>
    User: {{ user.getEmail() }}
  </p>
  <p *ngIf="user.getIsAdmin()">
    <button (click)="scrape()">Scrape</button>
  </p>
</ng-container>
<ng-template #login>
  <form [action]="loginURL | async" method="post">
    <fieldset>
      <input type="submit" value="Log In">
    </fieldset>
  </form>
</ng-template>

<router-outlet></router-outlet>
